* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}


/* ------------------------ResetPassword------------ */
.resetpassword {
    margin-top: 88px;
    overflow: hidden;

}
#resetform , .resetform{
    overflow: hidden;
}
h4{
    display: block !important;
}
 .btn-save, .btn-save:focus {
    height: 50px;
    font-size: 20px;
    font-weight: medium;
    background-color: #006072;
    border-radius: 30px;
    color: #ffffff;
    border: solid 1px rgba(255, 255, 255, 0.5);
}
.btn-save:hover{
    transition: 0.3s all;
    text-decoration: none;
    font-weight: 500;

}
.form-row{
    width: 50%;
    margin: auto;
}
.btn-save {
    width: 100px;
    margin: auto;
    display: block;
}
.resetlabel {
    font-weight: bold;
}
/* ---Validation---- */
.valid-input{
    border:1px solid #1d7a8c !important;
  }
  .invalid-input{
    border:1px solid red !important;
  }
  .invalid-msg{
    color: red;
  }
.msg-privacy{
  color:red;
}

.error-email{
    color: green;
}