@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* navbar starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
nav {
  min-height: 64px;
  position: sticky;
  margin-top: 0;
  margin-left: 0;
  z-index: 2000;
  /* width: 100%; */
  /* width: 1500px; */
  height: 54px;
  background: #525252;
  display: inline;
  max-width: 100;
}
.nav-block {
  margin-top: 6px;
  margin-left: 15px;
  width: 1500px;
  height: 54px;
  display: inline-flex;
  justify-content: space-between;
}
.header-minilogo {
  padding-top: 0px;
  padding-left: 15px;
  width: 73px;
  height: 54px;
  /* margin-right: 600px; */
}
.responsive_nav{
	display: inline-flex;
}
#booknow {
  width: 111px;
  height: 40px;
  background-color: #105082;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 0.8;
  color: white;
}
#priceandservice {
  width: 129px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
  color: white;
}
#loginbttn {
  width: 97px;
  height: 40px;
  background-color: #105082;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 0.8;
  color: white;
}
#becomehelper {
  top: 43px;
  left: 1318px;
  width: 161px;
  height: 40px;
  background-color: #105082;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 0.8;
  color: white;
}
.header-navbar {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 5px 20px;
}
#bookcleaner{
	top: 43px;
	left: 620px;
	width: 161px;
	height: 40px;
	background: #00607200 0% 0% no-repeat padding-box;
	border: 1px solid #FFFFFF80;
	border-radius: 20px;
	opacity: 1;
	color:white;
}
.popupcontent{
    margin: auto;
    background-color: #fefefe;
    width: 400px;
    height: fit-content;
       color: #4F4F4F;
       padding: 30px;
       border-radius: 20px;
}
.form_sec{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 200px;
    margin-right: 200px;
}
.Customer-Signup{
    font-size: 36px;
    line-height: 40px;
    color: #4f4f4f;
    font-weight: 500;
}
.customer-signup-form{
    margin-top: 90px;
    margin-bottom: 50px;
}
.sepimg{
    position: relative;
    margin-left: 470px;
    margin-right: 470px;
}
.customerform{
    max-width: 1170px;
}
.customerform .userregistration{
    max-width: 615px;
    margin: auto;
}
#inlineFormCheck {
    position: absolute;
    content: "";
    
    top: -4px;
    border: solid 1px #c7c7c7;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}
.form-check-label {
    margin-left: 4px;
}
.privacy-policy{
        color: #1d7a8c;
        text-decoration: none!important;
}
.privacy-policy:hover,.privacy-policy:focus,.login-btn:hover,.login-btn:focus{       
        color: #006072;
        font-weight: 500;
    transition: 0.3s all;
    text-decoration: none;
}
.register-submit{
    justify-content: center;
}
.login-btn{
    padding: 2px;
    color: #1d7a8c;
    text-decoration: none ;
}
.already-registered{
    text-align: center;
}
.registration{
    color: #FFFFFF;
    background: #1d7a8c;
    font-size: 16px;
    line-height: 24px;
    border-radius: 17px;
    width:100px;
    transition: all .3s ease;
}
.form-check {
    padding-left: 1.5rem;
}

 
.sepimg::after,.sepimg::before{
    content: '';
    position: absolute;
    margin: auto;
    height: 1px;
    width: 39%;
height: 1px;
background:#CCCCCC ;
    top:45%;
}
.sepimg::before{
    left: 0;
}

.sepimg::after{
    right: 0;
}

.sepretor {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: block;
    width: 24px;
    height: 25px;
    position: relative;
    margin-top: 9px;
}
#loginbttn2{
	top: 43px;
	left: 1210px;
	width: 97px;
	height: 40px;
	background:rgb(99, 99, 115) 0% 0% no-repeat padding-box;
	border: 1px solid #FFFFFF80;
	border-radius: 20px;
	opacity: 0.8;
	color:black;
}


